<p id="notice"><%= notice %></p>

<h3>You are currently standing at ....</h3>

<p>
	<%= @location.my_location %>
</p>

<h3>The closest buses are....</h3>

<% if @bus_count == 0 %>
<p>
	nowhere nearby.  You are SOL!

</p>
<% end %>

<% @nearby_buses.each do |bus| %>

<strong>Route: <%= bus["ROUTE"] %></strong> <br>
<strong>Vehicle: <%= bus["VEHICLE"] %> </strong> <br>
<strong>Next Stop: <%= bus["TIMEPOINT"] %> </strong> <br>
	<% if bus["ADHERENCE"].to_i > 1 %>
 	Your bus is running fast and smooth! It will be <%= bus["ADHERENCE"] %> minutes ahead schedule.  Better get a move <br>
	<% elsif bus["ADHERENCE"].to_i < -1 %>
	Your bus is running late. It will be here in <%= bus["ADHERENCE"].to_i.abs %> minutes.  You may consider Uber. <br> 
	<% else %>
	Bus is on time!
	<% end %>


<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
